@import "fonts";
@import "variables";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;
}

.container-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__nav {
    button {
      margin: 0 5px;
    }
  }
}

.form {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  label {
    display: flex;
    margin-bottom: 10px;
  }

  .input {
    border-color: rgba(64, 64, 64, 0.1);
    padding-left: 10px;
    width: 30vw;
    height: 30px;
    outline: none;
    border-radius: 5px;
  }

  button {
    align-self: flex-end;
  }
}

.button {
  height: 35px;
  padding: 0 20px;
  background-color: $background;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
}

.error {
  color: red;
  align-self: flex-start;
}
