@import "fonts";
@import "variables";
@import "./libs/include-media";
body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @include media("<=phone") {
    width: calc(100vw - 20px);
  }
}

.content {
  padding: 40px 0;
}

canvas {
  height: 100%;
}

.canvas-container {
  // height: 40vh;
  width: 60vw;

  @include media("<=tablet") {
    // height: 40vh;
    width: 70vw;
  }

  @include media("<=phone") {
    // height: 20vh;
    margin: 0 auto;
    width: 90vw;
  }
}

.fz-20 {
  font-size: 20px;
}

.container-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__nav {
    button {
      margin: 0 5px;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.select {
  margin: 0 auto;
  width: 300px;
  @include media("<=tablet") {
    width: 60vw;
  }

  @include media("<=phone") {
    width: 90vw;
  }
}

.myselect {
  // // height: 200px;
  // display: flex;
  // justify-content: space-between;
}

.margin {
  margin-left: 20px;
}

.margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 50px;
}

#area-chart {
  min-height: 250px;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.w-300 {
  width: 300px;

  @include media("<=phone") {
    width: 75vw;
  }
}

.padding-20 {
  padding: 20px;
}

// .w-100 {
//   width: 170px;
// }

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.form {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  label {
    display: flex;
    margin-bottom: 10px;
  }

  .input {
    border-color: rgba(64, 64, 64, 0.1);
    padding-left: 10px;
    width: 30vw;
    height: 30px;
    outline: none;
    border-radius: 5px;

    @include media("<=phone") {
      width: 70vw;
    }
  }

  button {
    align-self: flex-end;
  }
}

.button {
  height: 35px;
  padding: 0 20px;
  background-color: $background;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
}

.error {
  color: red;
  align-self: flex-start;
}
