@import "fonts";
@import "variables";

@import "components/all";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

// .form {
//   //   display: flex;
//   //   flex-direction: column;
//   //   justify-content: center;
//   //   height: calc(80vh - 50px);
//   //   flex-grow: 1;
//   height: 60vh;
//   display: block;
//   input {
//     // padding-left: 10px;
//     // margin: 30px;
//     // height: 50px;
//     // border-radius: 10px;

//     border: 1px solid rgba(161, 161, 161, 0.5);
//   }

//   .error {
//     color: red;
//   }
// }

.form {
  width: 300px;
}
